# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.txt

# Database & Data
*.db
*.db-journal
*.db-wal
*.db-shm
data/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
